Dear {{ inviteEmail }}

Welcome to {{ siteHrName }}. You have been invited by {{ ownerFullName }} ({{ ownerEmail }}) to join the organization "{{ siteHrName }}" in {{ siteName }}.

If you would like to accept this invitation, please click on the below link and join the Organization "{{ siteHrName }}".
Join Organization

<button>Join Organization</button>

If you do not want to be a part of this Organization, please click on the below link to reject the invitation.
Reject Invitation

<button>Reject Invitation</button>

If you did not register with {{ siteName }}., please ignore this message.

Thank you
{{ siteTeamName }}
{{ siteUrl }}
